.form-control {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login_form {
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    
    width: 40%;
    height: 35rem;

    &__title {
        padding-top:5rem;
        font-size: 3rem;
    }
}

.form-group{
    margin: 0 auto;
    margin-left:14rem;
    
}

.btn-default {
    margin-top: 11rem;
    padding-right: 20rem;
    padding-top: 1rem;
    background-color: black;    
    color: #fff;
}

.control-label {
    margin-right: 16rem;
}