body {
    //background-image: linear-gradient(to right, #2c3e50, #4ca1af);
    
    background-image: linear-gradient(to right, #d3cce3, #e9e4f0); 
}

h1 {
    color: #502C3E;
}

a {
    color: #fff;
   
}