.signup_form {
    margin: 0 auto;
    flex-direction: column;
    background-color: #fff;
    width: 60%;
    
}

.form-control {
    width: 29rem;
}

.signup_title {
    font-size: 3rem;
    text-align: center;
    padding-top: 5rem;
}

.btn-default-title {
    margin-top: 1rem;
    padding-right: 20rem;
    margin-left: 20rem;
    background-color: black;    
    color: #fff;
}