{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialMedia</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar mynav" role="navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand mynav" href="{% url 'home' %}">SocialMedia</a>

            <ul class="navbar nav-container topBotomBordersOut">
                <!-- If they are logged in -->
                {% if user.is_authenticated %}
                    <li class="navbar__space"><a href="{% url 'posts:create' %}">Post Message</a></li>
                    <li class="navbar__space"><a href="{% url 'posts:allPost' %}">View Messages</a></li>
                    <li class="navbar__space"><a href="{% url 'posts:post_following' %}">FYP</a></li>
                    <li class="navbar__space"><a href="{% url 'groups:all' %}">Groups</a></li>
                    <li class="navbar__space"><a href="{% url 'groups:create' %}">Create Group</a></li>
                    <li class="navbar__space"><a href="{% url 'accounts:logout' %}">Logout</a></li>
                <!-- If they are not logged in -->
                {% else %}
                    <li><a href="#">Groups</a></li>
                    <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                    <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    

    <!-- CONTENT -->
    <div class="container mycontent">
        {% block content %}

        {% endblock %}

    </div>
</body>
</html>