
h1 {
    color: black;
    height: 10rem;
    font-size: 6rem;
    
}

.black-background {
    color: #fff;
    background-color: black;
    width: 50%;
    font-size: 6rem;
    text-align: center;
}


.btn-comment {
    background-color: black;
}
