{% extends "posts/post_base.html" %}

{% block prepost %}
	<div class="col-md-4">
		<h1>@{{ post_user.username }}</h1>
		<p>Post History</p>
	</div>

	<div class="col-md-4">
		{% if user_profile.user != request.user %}
		{% if user_profile.user in request.user.profile.followers.all %}
			<form method="POST" action="{% url 'accounts:unfollow_user' post_user.id %}">
				{% csrf_token %}
				<button type="submit">Unfollow</button>
			</form>
		{% else %}
			<form method="POST" action="{% url 'accounts:follow_user' post_user.id %}">
				{% csrf_token %}
				<button type="submit">Follow</button>
			</form>
		{% endif %}
	{% endif %}
	</div>
	<form method="POST" action="{% url 'accounts:unfollow_user' post_user.id %}">
		{% csrf_token %}
		<button type="submit">Unfollow</button>
	</form>
	



{% endblock %}

{% block post_content %}
<div class="col-md-8">
	{% for post in post_list %}
		{% include "posts/_post.html" %}
	{% endfor %}
</div>
{% endblock %}

{% block post_post %}

	
{% endblock %}
